// Bootstrap
$primary: #635CA8;
$secondary: #454C66;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
);

$theme-colors-text: (
  "secondary": red,
);

$component-active-bg: #88D3C9;